@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: var(--font-playfair);
  --font-body: var(--font-rubik);

  /* Colors */
  --color-primary: #0057B5;
  --color-primary-dark: #1d4ed8;
  --color-dark: #0f172a;
  --color-text-body: #475569;
  --color-text-muted: #94a3b8;
}

body {
  font-family: var(--font-body);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}